@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Modern+Antiqua);

/* reset */
/* ここは気にしないでください */
/* -------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
	font: 14px/1.9 'Noto Sans JP';
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #dadada;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}

/* -------------------------------- */

#contentWapper {
	display: flex;
}



#MainContent {
	padding-bottom: 0;
}

/* 枠#MainContantの中にあるh2タグでは以下の設定が適応される。 */
#MainContent h2{
  font: 22px/1.9 'けいふぉんと';
	width: 70%;
	margin: 70px auto;
	font-size: 50px;
	font-weight:normal;
	text-align: center;
}

#inner{
	border-bottom: 1px solid #a0a0a0;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.article{
	clear: both;
	overflow: hidden;
	padding-bottom: 50px;
	display: flex;
}

.article img{
	margin: 5px 20px 20px;
}

.article p{
	margin-bottom: 20px;
}

#sidebar {
	width: 50%;
	font-size: 25px;
	font-weight:normal;
	text-align: center;
}

#sidebar img{
	margin: 10px 20px 20px;
  border-radius: 50%;
}

#sidebar h2 {
	width: 60%;
	margin: 60px auto;
	font-size: 35px;
	font-weight:normal;
	text-align: center;
}

#sidebar ul {
width: 50%;
	margin: 5px auto;
	font-size: 20px;
	font-weight:normal;
	text-align: center;
}
